$primary-color: rgb(255, 165, 0);
$alpha-primary-color: rgb(255, 165, 0, 0.75);
$secundary-color: rgb(46, 46, 78);
$alpha-secundary-color: rgb(46, 46, 78, 0.75);
$text-primary-color: black;
$text-secundary-color: white;

$primary-text: 'Raleway', sans-serif;
$secundary-text: 'Nunito', sans-serif;
