.banner-nosotros {
  @include flex(column, center, center);
  background-image: url(../assets/bannerPages.jpg);
  @extend .img-banners;

  > .container {
    text-align: center;
  }

  h1,
  p {
    color: $text-secundary-color;
    font-weight: bold;
    padding: 0 10px;
  }
}
